<header class="header glass-panel">
  <div class="left-section">
    <button class="menu-btn" (click)="onMenuClick()">
      <lucide-icon [img]="Menu" [size]="24"></lucide-icon>
    </button>
    
    <div class="search-bar">
      <lucide-icon [img]="Search" [size]="18" class="search-icon"></lucide-icon>
      <input type="text" placeholder="Buscar..." />
    </div>
  </div>

  <div class="header-actions">
    <button class="action-btn desktop-only">
      <lucide-icon [img]="Bell" [size]="20"></lucide-icon>
      <span class="notification-indicator"></span>
    </button>
    
    <div class="user-profile" *ngIf="authService.currentUser() as user" routerLink="/profile" style="cursor: pointer">
      <div class="avatar pink-gradient">
        {{ user.first_name[0] }}{{ user.first_surname[0] }}
      </div>
      <div class="user-info desktop-only">
        <p class="name">{{ user.first_name }} {{ user.first_surname }}</p>
        <p class="role">{{ user.role }}</p>
      </div>
    </div>
  </div>
</header>
